{% import "_pager.html" as pagination %}
{% extends "layout.html" %}

{% block title %}
  {{ entity['name'].value }}
{% endblock %}

{% block content %}
    <h2>{{ entity['name'].value }}</h2>
    <p class="schemata">
        {% for schema in entity.schemata %}
            {% if schema.name != 'base' %}
                {{schema.label}} &middot;
            {% endif %}
        {% endfor %}
    </p>

    {% for schema, spager in inbound_sections %}
        <a name="{{spager.name}}"></a>
        <h3>{{schema.label_in}}</h3>
        <ul class="entity-relations">
            {% for rel in spager %}
                <li>
                    <a class="other" href="{{url_for('entities.view', id=rel.source.id)}}">&laquo; {{rel.source['name'].value}}</a>
                    <span class="details">(<a href="{{url_for('relations.view', id=rel.id)}}">Details</a>)</span>
                </li>
            {% endfor %}
        </ul>
        {{ pagination.render(spager) }}
    {% endfor %}

    {% for schema, spager in outbound_sections %}
        <a name="{{spager.name}}"></a>
        <h3>{{schema.label_out}}</h3>
        <ul class="entity-relations">
            {% for rel in spager %}
                <li>
                    <a class="other" href="{{url_for('entities.view', id=rel.target.id)}}">&raquo; {{rel.target['name'].value}}</a>
                    <span class="details">(<a href="{{url_for('relations.view', id=rel.id)}}">Details</a>)</span>
                </li>
            {% endfor %}
        </ul>
        {{ pagination.render(spager) }}
    {% endfor %}

    <h3>Details about {{entity['name'].value}}</h3>
    <table class="table table-condensed">
        {% for prop in entity.active_properties %}
            {% if not prop.hidden %}
                <tr>
                    <th width="40%" class="attributes">{{entity.get_attribute(prop.name).label}}</th>
                    <td>{{prop.value | safe}}</td>
                    <td class="source">
                        {% if prop.source_url %}
                            <a href="{{prop.source_url}}">Source</a>
                        {% else %}
                            <a class="broken-source">Unsourced</a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <!--pre><code>{{ entity.to_index() | tojson(indent=2) }}</code></pre-->
{% endblock %}

{% block js %}{% endblock %}
