{% import "_pager.html" as pagination %}
{% extends "layout.html" %}

{% block title %}
  {{ entity['name'].value | striptags | safe }}
{% endblock %}

{% block description %}
  {{ (entity['reg_activities'].value or entity['reg_goals'].value or entity['exp_mission'].value or "Political and financial associations of " + entity['name'].value + " as part of OpenInterests, a catalogue of interests regarding the institutions of the European Union.")
    | striptags | truncate(length=155) | trim | safe }}
{% endblock %}

{% block content %}
    <h2>{{ entity['name'].value }}</h2>
    <p class="schemata">
        {% for schema in entity.schemata if not schema.hidden %}
            {{schema.label}}
            {% if not loop.last %} &middot; {% endif %}
        {% endfor %}

        {% if entity['opencorporates_uri'] %}
            &middot; See also: <a href="{{entity['opencorporates_uri'].value }}">{{ entity['name'].value }} on OpenCorporates.com</a>.
        {% endif %}
    </p>


    <!--h3>Details about {{entity['name'].value}}</h3-->
    <table class="table table-condensed">
        {% for prop in entity.active_properties if not entity.get_attribute(prop.name).hidden %}
            <tr>
                <th width="40%" class="attributes">{{entity.get_attribute(prop.name).label}}</th>
                <td>{{prop.value | safe}}</td>
                <td class="source">
                    {% if prop.source_url %}
                        <a href="{{prop.source_url}}" rel="external, archives, nofollow">Source</a>
                    {% else %}
                        <a class="broken-source">Unsourced</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% for schema, spager in inbound_sections %}
        <a name="{{spager.name}}"></a>
        <h3>{{schema.label_in}}</h3>
        <ul class="entity-relations">
            {% for rel in spager %}
                <li>
                    {{ render_relation(schema, 'in', entity, rel )}}
                </li>
            {% endfor %}
        </ul>
        {{ pagination.render(spager) }}
    {% endfor %}

    {% for schema, spager in outbound_sections %}
        <a name="{{spager.name}}"></a>
        <h3>{{schema.label_out}}</h3>
        <ul class="entity-relations">
            {% for rel in spager %}
                <li>
                    {{ render_relation(schema, 'out', entity, rel )}}
                </li>
            {% endfor %}
        </ul>
        {{ pagination.render(spager) }}
    {% endfor %}
{% endblock %}

{% block js %}{% endblock %}
