{% import "_sources.html" as sources %}
{% import "_pager.html" as pagination %}
{% extends "layout.html" %}

{% block title %}
  {{ entity['name'].value | striptags | safe }}
{% endblock %}

{% block description %}
  {{ (entity['reg_activities'].value or entity['reg_goals'].value or entity['exp_mission'].value or "Political and financial associations of " + entity['name'].value + " as part of OpenInterests, a catalogue of interests regarding the institutions of the European Union.")
    | striptags | truncate(length=155) | trim | safe }}
{% endblock %}

{% block content %}
    <h2>{{ entity['name'].value }}</h2>
    <p class="schemata">
        {% for schema in entity.schemata if not schema.hidden %}
            {{schema.label}}
            {% if not loop.last %} &middot; {% endif %}
        {% endfor %}

        {% if entity['opencorporates_uri'] %}
            &middot; See also: <a href="{{entity['opencorporates_uri'].value }}">{{ entity['name'].value }} on OpenCorporates.com</a>.
        {% endif %}

        {% if entity.has_schema('eu_body') %}
            &middot; Request information via <a href="{{ entity | entity_wob_link}}">AskTheEU.org</a>.
        {% endif %}
    </p>


    <div class="row">
        <div class="col-md-5 col-md-push-7">
            <table class="table table-condensed">
                {% for prop in entity.active_properties if not entity.get_attribute(prop.name).hidden %}
                    <tr>
                        <th width="40%" class="attributes col-md-12">
                            {{entity.get_attribute(prop.name).label}}
                            <span class="source">
                                {{ sources.link(prop) }}
                            </span>
                        </th>
                        <td class="hidden-md hidden-lg">
                            {{prop.value | safe}}
                        </td>
                    </tr>
                    <tr>
                        <td class="value hidden-xs hidden-sm">
                            {{prop.value | safe}}
                        </td>
                    </tr>
                {% endfor %}
                {% if entity.has_schema('address') %}
                    <tr>
                        <th width="40%" class="attributes">
                            <i class="fa fa-home"></i> Address                            
                            <span class="source">
                                {{ sources.link(entity['address']) }}
                            </span>
                        </th>
                    </tr>
                    <tr>
                        <td class="value hidden-xs hidden-sm" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            {% if entity['attention'].value %}
                                Attn. {{entity['attention'].value}}<br>
                            {% endif %}
                            {{entity['name'].value}}<br>
                            <span itemprop="streetAddress">
                            {{entity['address'].value}}<br>
                            {% if entity['address_ctd'].value %}
                                {{entity['address_ctd'].value}}<br>
                            {% endif %}
                            </span>
                            <span itemprop="postalCode">    
                                {{entity['postcode'].value}}
                            </span>
                            <span itemprop="addressLocality">
                                {{entity['city'].value}}
                            </span><br>

                            {% if entity['country'].value %}
                                <span itemprop="addressCountry">    
                                    {{entity['country'].value}}<br>
                                </span>
                            {% endif %}
                            {% if entity['phone'].value %}
                                <span itemprop="telephone">
                                    Telephone: {{entity['phone'].value}}<br>
                                </span>
                            {% endif %}
                            {% if entity['fax'].value %}
                                <span itemprop="telefax">
                                    Telefax: {{entity['fax'].value}}<br>
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>

        <div class="col-md-7 col-md-pull-5">
            {% for schema, spager in inbound_sections %}
                <a name="{{spager.name}}"></a>
                <h3>{{schema.label_in}}</h3>
                <ul class="entity-relations">
                    {% for rel in spager %}
                        <li>
                            {{ render_relation(schema, 'in', entity, rel )}}
                        </li>
                    {% endfor %}
                </ul>
                {{ pagination.render(spager) }}
            {% endfor %}

            {% for schema, spager in outbound_sections %}
                <a name="{{spager.name}}"></a>
                <h3>{{schema.label_out}}</h3>
                <ul class="entity-relations">
                    {% for rel in spager %}
                        <li>
                            {{ render_relation(schema, 'out', entity, rel )}}
                        </li>
                    {% endfor %}
                </ul>
                {{ pagination.render(spager) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}{% endblock %}
