{% extends "layout.html" %}

{% block title %}
  EU Institutions
{% endblock %}

{% block description %}
  See who the institutions of the European Union make contracts with, 
  through lobbying activity, expert groups, research funding and public procurement. 
{% endblock %}

{% block content %}
    <h2>EU Institutions</h2>
    
    <p>
        The European Union's institutions are listed below. Each of them has conducted
        work in expert groups, given out grants for scientific research and handed out
        public contracts through procurement. Browse any of these entities to learn
        more about those transactions.
    </p>

    {% for body in eu_bodies %}
        {% if loop.index % 4 == 1 %}
            <div class="row listing">
        {% endif %}
            <div class="col-md-3">
                <p>
                    <a href="{{ body | entity_link }}">
                        {{body.get('properties').get('name').get('value')}}
                    </a>
                    ({{body.get('inbound_relations')}})
                </p>
            </div>
        {% if loop.index % 4 == 0 or loop.last %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block js %}{% endblock %}

