{% import "_sources.html" as sources %}
{% import "_pager.html" as pagination %}
{% extends "layout.html" %}

{% block title %}
  {{ entity['name'].value | striptags | safe }}
{% endblock %}

{% block description %}
  {{ (entity['reg_activities'].value or entity['reg_goals'].value or entity['exp_mission'].value or "Political and financial associations of " + entity['name'].value + " as part of OpenInterests, a catalogue of interests regarding the institutions of the European Union.")
    | striptags | truncate(length=155) | trim | safe }}
{% endblock %}

{% block content %}
    <h2>
        {{ entity['name'].value }}
        {% if entity['abbreviation'].value %}
            <small>{{ entity['abbreviation'].value }}</small>
        {% endif %}
    </h2>

    <div id="graph-container" style="height: 400px;"></div>

    <div class="row">
        <div class="col-xs-12">
            <div class="btn-toolbar entity-toolbar" role="toolbar">
                <div class="btn-group pull-right">
                    {% if entity['opencorporates_uri'] %}
                        <a class="btn btn-default" href="{{entity['opencorporates_uri'].value }}">
                            <img class="icon" src="https://opencorporates.com/assets/favicon.ico"> OpenCorporates
                        </a>
                    {% endif %}
                    {% if entity['asktheeu_slug'] %}
                        <a class="btn btn-default" href="{{ entity | entity_wob_link}}">
                            <img class="icon" src="http://www.asktheeu.org/asktheeu-theme/images/favicon.ico"> Request information
                        </a>
                    {% endif %}
                    {% if entity['url'] %}
                        <a class="btn btn-default" href="{{entity['url'].value }}">
                            <i class="fa fa-external-link"></i> {{entity['url'].value | domain_name}}
                        </a>
                    {% endif %}
                    {% if entity['email'] %}
                        <a class="btn btn-default" href="mailto:{{entity['email'].value }}">
                            <i class="fa fa-comment"></i> Mail {{entity['email'].value}}
                        </a>
                    {% endif %}
                    <a class="btn btn-default" href="{{url_for('entities_api.view', id=entity.id)}}">
                        <i class="fa fa-code"></i> JSON
                    </a>
                    
                </div>

                <!--div class="btn-group">
                    {% for schema in entity.schemata if not schema.hidden %}
                        <a class="btn btn-default">{{schema.label}}</a>
                    {% endfor %}
                </div-->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-md-push-7">
            {% if entity.has_schema('expert_group') %}
                <h3><span class="label label-primary">Expert Group</span></h3>
                <p>
                    
                    {{entity['exp_mission'].value | longtext | safe}}
                    <span class="source">
                        {{ sources.link(entity['exp_mission']) }}
                    </span>
                </p>
            {% elif entity.has_schema('eu_body') %}
                <h3><span class="label label-primary">EU Institution</span></h3>
                <p>
                    {{entity['asktheeu_notes'].value | longtext | safe}}
                    <span class="source">
                        {{ sources.link(entity['asktheeu_notes']) }}
                    </span>
                </p>
            {% elif entity.has_schema('representative') %}
                <h3><span class="label label-primary">Lobbyist</span></h3>
                {% if entity['reg_goals'] %}
                <p>
                    {{entity['reg_goals'].value | longtext | safe}}
                    <span class="source">
                        {{ sources.link(entity['reg_goals']) }}
                    </span>
                </p>
                {% endif %}
            {% endif %}

            <!--h3>Key facts</h3-->
            <table class="table table-condensed">
                {% for prop in entity.active_properties if not entity.get_attribute(prop.name).hidden %}
                    <tr>
                        <th width="40%" class="attributes col-md-12">
                            {{entity.get_attribute(prop.name).label or prop.name}}
                            <span class="source">
                                {{ sources.link(prop) }}
                            </span>
                        </th>
                        <td class="hidden-md hidden-lg">
                            {{prop.value | longtext | safe}}
                        </td>
                    </tr>
                    <tr>
                        <td class="value hidden-xs hidden-sm">
                            {{prop.value | longtext | safe}}
                        </td>
                    </tr>
                {% endfor %}
                {% if entity.has_schema('address') %}
                    <tr>
                        <th width="40%" class="attributes">
                            <i class="fa fa-home"></i> Address                            
                            <span class="source">
                                {{ sources.link(entity['address']) }}
                            </span>
                        </th>
                    </tr>
                    <tr>
                        <td class="value hidden-xs hidden-sm" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            {% if entity['attention'].value %}
                                Attn. {{entity['attention'].value}}<br>
                            {% endif %}
                            {{entity['name'].value}}<br>
                            <span itemprop="streetAddress">
                            {{entity['address'].value}}
                            {% if entity['address_ctd'].value %}
                                {{entity['address_ctd'].value}}<br>
                            {% endif %}
                            </span>
                            <span itemprop="postalCode">    
                                {{entity['postcode'].value}}
                            </span>
                            <span itemprop="addressLocality">
                                {{entity['city'].value}}
                            </span><br>

                            {% if entity['country'].value %}
                                <span itemprop="addressCountry">    
                                    {{entity['country'].value}}<br>
                                </span>
                            {% endif %}
                            {% if entity['phone'].value %}
                                <span itemprop="telephone">
                                    Telephone: {{entity['phone'].value}}<br>
                                </span>
                            {% endif %}
                            {% if entity['fax'].value and entity['fax'].value.strip() != '+' %}
                                <span itemprop="telefax">
                                    Telefax: {{entity['fax'].value}}<br>
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>


        <div class="col-md-7 col-md-pull-5">
            {% for schema, spager in outbound_sections %}
                <a name="{{spager.name}}"></a>
                <h3>{{schema.label_out}}</h3>
                <ul class="entity-relations">
                    {% for rel in spager %}
                        <li>
                            {{ render_relation(schema, 'out', entity, rel )}}
                        </li>
                    {% endfor %}
                </ul>
                {{ pagination.render(spager) }}
            {% endfor %}

            {% for schema, spager in inbound_sections %}
                <a name="{{spager.name}}"></a>
                <h3>{{schema.label_in}}</h3>
                <ul class="entity-relations">
                    {% for rel in spager %}
                        <li>
                            {{ render_relation(schema, 'in', entity, rel )}}
                        </li>
                    {% endfor %}
                </ul>
                {{ pagination.render(spager) }}
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block js %}
    {% assets output="graph.%(version)s.js",
        "entities/vendor/sigma/src/sigma.core.js",
        "entities/vendor/sigma/src/conrad.js",
        "entities/vendor/sigma/src/utils/sigma.utils.js",
        "entities/vendor/sigma/src/utils/sigma.polyfills.js",
        "entities/vendor/sigma/src/sigma.settings.js",
        "entities/vendor/sigma/src/classes/sigma.classes.dispatcher.js",
        "entities/vendor/sigma/src/classes/sigma.classes.configurable.js",
        "entities/vendor/sigma/src/classes/sigma.classes.graph.js",
        "entities/vendor/sigma/src/classes/sigma.classes.camera.js",
        "entities/vendor/sigma/src/classes/sigma.classes.quad.js",
        "entities/vendor/sigma/src/captors/sigma.captors.mouse.js",
        "entities/vendor/sigma/src/captors/sigma.captors.touch.js",
        "entities/vendor/sigma/src/renderers/sigma.renderers.canvas.js",
        "entities/vendor/sigma/src/renderers/sigma.renderers.webgl.js",
        "entities/vendor/sigma/src/renderers/sigma.renderers.def.js",
        "entities/vendor/sigma/src/renderers/webgl/sigma.webgl.nodes.def.js",
        "entities/vendor/sigma/src/renderers/webgl/sigma.webgl.nodes.fast.js",
        "entities/vendor/sigma/src/renderers/webgl/sigma.webgl.edges.def.js",
        "entities/vendor/sigma/src/renderers/webgl/sigma.webgl.edges.fast.js",
        "entities/vendor/sigma/src/renderers/webgl/sigma.webgl.edges.arrow.js",
        "entities/vendor/sigma/src/renderers/canvas/sigma.canvas.labels.def.js",
        "entities/vendor/sigma/src/renderers/canvas/sigma.canvas.hovers.def.js",
        "entities/vendor/sigma/src/renderers/canvas/sigma.canvas.nodes.def.js",
        "entities/vendor/sigma/src/renderers/canvas/sigma.canvas.edges.def.js",
        "entities/vendor/sigma/src/renderers/canvas/sigma.canvas.edges.arrow.js",
        "entities/vendor/sigma/src/middlewares/sigma.middlewares.rescale.js",
        "entities/vendor/sigma/src/middlewares/sigma.middlewares.copy.js",
        "entities/vendor/sigma/src/misc/sigma.misc.animation.js",
        "entities/vendor/sigma/src/misc/sigma.misc.bindEvents.js",
        "entities/vendor/sigma/src/misc/sigma.misc.drawHovers.js",
        "entities/vendor/sigma/plugins/sigma.parsers.gexf/gexf-parser.js",
        "entities/vendor/sigma/plugins/sigma.parsers.gexf/sigma.parsers.gexf.js",
        "entities/vendor/sigma/plugins/sigma.layout.forceAtlas2/sigma.layout.forceAtlas2.js"  
    %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    
    
    <script>
    $(function() {
        var $c = $('#graph-container');
        function getRandomInt (min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }
        //var fa2 = sigma.utils.pkg('sigma.layout.forceatlas2');
        //fa2.defaultSettings.gravity = 0.0;
        //fa2.defaultSettings.barnesHutOptimize = true;
        //console.log(fa2);
        sigma.parsers.gexf('/api/1/entities/{{entity.id}}/graph?depth=2&format=gexf', {
            container: 'graph-container',
            edgeColor: '#eee',
            defaultEdgeColor: '#eee'
        },
        function(s) {
            s.bind('clickNode', function(e) {
                //console.log(e.data.node.id);
                window.location.href = '/entities/' + e.data.node.id;
            });
            s.graph.edges().forEach(function(e) {
                e.color = '#ddd';
            });
            s.graph.nodes().forEach(function(e) {
                e.size = 10 + Math.sqrt(s.graph.degree(e.id));
                e.x = getRandomInt(1, $c.width());
                e.y = getRandomInt(1, $c.height());
                e.color = '#444';
            });
            s.refresh();
            s.startForceAtlas2();

            //setTimeout(function() {
            //    s.stopForceAtlas2();
            //}, 5000);
            //console.log(s);
            //window.sigmar = s;
        });
    });
    </script>

{% endblock %}
