{% import "_sources.html" as sources %}
{% extends "layout.html" %}

{% block title %}
    {% if relation.get_attribute('title_text') %}
        {{relation['title_text'].value}}; {{relation.schema.label}} ({{relation.target['name'].value}})
    {% else %}
        {{relation.schema.label}}: {{relation.source['name'].value}} - {{relation.target['name'].value}}
    {% endif %}
{% endblock %}

{% block description %}
  {{ (relation['grant_subject'].value or relation['contract_description'].value or "An " + relation.schema.label + " between " + relation.source['name'].value + " and " + relation.target['name'].value + " as part of OpenInterests, a catalogue of interests regarding the institutions of the European Union.")
    | striptags | truncate(length=155) | trim | safe }}
{% endblock %}

{% block content %}
    <h2>{{relation.schema.label}}</h2>

    <div class="row">
        <div class="col-xs-12">
            <div class="btn-toolbar entity-toolbar" role="toolbar">
                <div class="btn-group pull-right">
                    {% if relation.source['asktheeu_slug'] or relation.source['asktheeu_slug'] %}
                        <a class="btn btn-default" href="{{ relation | relation_wob_link }}">
                            <img class="icon" src="http://www.asktheeu.org/asktheeu-theme/images/favicon.ico"> Request detailed information
                        </a>
                    {% endif %}
                    <a class="btn btn-default" href="{{url_for('relations_api.view', id=relation.id)}}">
                        <i class="fa fa-code"></i> JSON
                    </a>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-condensed">
        <tr>
            <th width="40%" class="attributes">Origin</th>
            <td colspan="2"><a href="{{ relation.source | entity_link }}">{{relation.source['name'].value}}</a></td>
        </tr>
        <tr>
            <th width="40%" class="attributes">Destination</th>
            <td colspan="2"><a href="{{ relation.target | entity_link }}">{{relation.target['name'].value}}</a></td>
        </tr>
        {% for prop in relation.active_properties if not relation.get_attribute(prop.name).hidden and prop.value != None %}            
            <tr>
                <th width="40%" class="attributes">{{relation.get_attribute(prop.name).label or prop.name}}</th>
                <td>{{prop.value | render_value | safe}}</td>
                <td class="source">{{ sources.link(prop) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block js %}{% endblock %}
