{% import "_pager.html" as pagination %}
{% import "_facets.html" as facets %}
{% extends "layout.html" %}

{% block title %}
  Search for lobbyists, companies and institutions of the EU
{% endblock %}

{% block content %}
    <h2>
        Browse interests
        {% if searcher.query_text %}
            matching '{{searcher.query_text}}'
        {% endif %}
    </h2>
    <form action="{{url_for('entities.search')}}" method="GET" class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-xs-12">
                <input type="text" class="form-control input-lg search-box" name="q"
                    value="{{searcher.query_text}}" placeholder="Search for people, companies or public bodies...">
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-sm-8">
            <ul class="search-results">
                {% for hit in pager %}
                    <li>
                        <a href="{{url_for('entities.view', id=hit.get('_id'))}}">{{hit.get('_source').get('name')}}</a>
                        <span class="schemata">
                            {% for schema in hit.get('_source').get('schemata') %}
                                &middot; {{schema.get('label')}} 
                            {% endfor %}
                        </span>
                    </li>
                {% endfor %}
            </ul>
            {{ pagination.render(pager) }}
        </div>
        <div class="col-sm-4">
            <p>
                {{searcher.count()}} actors found.
            </p>

            <h4>Actor types</h4>
            {{ facets.render(schemata_facet, 'schemata.name', pager) }}
            <br/>
            <h4>Known activities</h4>
            {{ facets.render(relschema_facet, 'relations.schema.name', pager) }}
        </div>
    </div>
{% endblock %}

