
/* STANDARD ELEMENTS APPEARANCE */

.formlang {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
} 

.language, a.language:link, a.language:visited, a.language:hover, a.language:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
	text-decoration: underline;
	background-color: #3399CC;
}

.languagenolink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #3399CC;
}

.langsel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

/* NAVIGATION PATH */

.navigation, a.navigation:link, a.navigation:visited, a.navigation:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	background-color: #330099;
}

a.navigation:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
	font-style: normal;
	background-color: #330099;
}

/* TOOLS SECTION */

.compulsorytools, a.compulsorytools:link, a.compulsorytools:visited, a.compulsorytools:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	background-color: #330099;
}

a.compulsorytools:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
	font-style: normal;
	background-color: #330099;
}


.backgroundtoolslinks {
	background-color: #FFFFFF;
}
.backgroundnavigation {
	background-color: #330099;
}

