
body
{ background-color:#fff; margin:0; padding:0; }

/* ----------------------------  A START  --------------------------------*/

a:link
{
color:#00749B;
text-decoration:none;
}

a:visited
{
color:#00749B;
text-decoration:none;
}

a:active
{
color:#00749B;
text-decoration:none;
}

a:hover
{
color:#00749B;
text-decoration:underline;
}

/* ----------------------------  A END  --------------------------------*/ 


/*  ------------------------ LEFT MENU IDS AND CLASSES START ----------------------  */

body table#special_topics, body table#themes, body table#publications
{
padding-bottom:4px;
}


table#special_topics
{
background-color: #F0ECDA;
margin: 0; 
padding: 0;
}

table#themes
{
background-color: #F0ECDA;
margin: 0; 
padding: 0;
}

table#publications
{
background-color: #F0ECDA;
margin: 0; 
padding: 0;
}


.blue_headings
{
text-align:left;
background-color:#09c;
color:#ffffff;
padding:5px 7px;
margin:5px;
font:bold 11px Tahoma, Verdana, Arial, sans-serif;
}

.blue_headings a:link, .blue_headings a:visited, .blue_headings a:active
{
color:#ffffff;
display:block;
text-decoration:none;
}

.blue_headings a:hover
{
color:#ffffff;
text-decoration:underline;
}

.beige_item a:link, .beige_item a:visited, .beige_item a:active
{
display: block;
border: 1px solid #F0ECDA;
background-color: #F0ECDA;
color: #000000;
text-decoration: none;
padding:4px; 
margin:0;
font:11px Tahoma, Verdana, Arial, sans-serif;
}

.beige_item a:hover
{
text-decoration:underline;
color: #000000;
}



.lightblue_item a:link, .lightblue_item a:visited, .lightblue_item a:active
{
display: block;
border: 1px solid #AFBFC2;
background-color: #CCDFE2;
color: #000000;
text-decoration: none;
padding:4px; 
margin:0;
font:11px Tahoma, Verdana, Arial, sans-serif;
}

.lightblue_item a:hover
{
text-decoration:underline;
color: #000000;
}

/*  ------------------------ LEFT MENU IDS AND CLASSES END ----------------------  */


/* ------------------ ACTIVITIES AND SERVICES START ---------------------------- */

table#activities
{
background-color: #FFFFFF;
margin: 0;
padding: 0;
}

table#services
{
background-color: #FFFFFF;
margin: 0;
padding: 0;
}

/* ------------------ ACTIVITIES AND SERVICES END ---------------------------- */ 



/* --------------------- ACTIVITIES AND SERVICES JAVASCRIPT START ------------------------------- */

table#eurostat_activities
{
background-color: #09c;
margin: 0; 
padding: 0;
font-weight: bold;


font-family: Tahoma, Verdana, Arial, sans-serif;
font-size: 11px; 
}

table#eurostat_activities td {border:0; padding:0; margin:0;}

table#eurostat_activities td img {float:left; margin-top:7px; margin-left:4px;}

table#eurostat_activities td a
{
color: #fff;
text-decoration: none;
background-color: #09c;
display:block;
line-height:20px;
width:156px;
float:right;
}

table#eurostat_activities_items
{
background: #F0ECDA;
margin: 0; 
padding: 0;


font-family: Tahoma, Verdana, Arial, sans-serif;
font-size: 11px; 
}

table#eurostat_activities_items td {border:0; padding:0 4px; margin:0; width: 167px;}


table#eurostat_services
{
background-color: #09c;
margin: 0; 
padding: 0;
font-weight: bold;


font-family: Tahoma, Verdana, Arial, sans-serif;
font-size: 11px; 
}

table#eurostat_services td {border:0; padding:0; margin:0;}

table#eurostat_services td img {float:left; margin-top:7px; margin-left:4px;}

table#eurostat_services td a
{
color: #fff;
text-decoration: none;
background-color: #09c;
display:block;
line-height:20px;
width:156px;
float:right;
}

table#eurostat_services_items
{
background: #F0ECDA;
margin: 0; 
padding: 0;

font-family: Tahoma, Verdana, Arial, sans-serif;
font-size: 11px; 
}

table#eurostat_services_items td {border:0; padding:0 4px; margin:0; width: 167px;}


.menu_item a:link, .menu_item a:visited, .menu_item a:active
{
display: block;
border: 1px solid #F0ECDA;
background-color: #F0ECDA;
color: #000000;
text-decoration: none;
padding:2px 1px; margin:0;
}

.menu_item a:hover
{
color: #000000;
text-decoration: underline;
}

.menu_item_alt a:link, .menu_item_alt a:visited, .menu_item_alt a:active
{
display: block;
border: 1px solid #AFBFC2;
background-color: #CCDFE2;
color: #000;
text-decoration: none;
padding:2px 4px; margin:0;
}

.menu_item_alt a:hover
{
color: #000;
text-decoration: underline;
}

/* --------------------- ACTIVITIES AND SERVICES JAVASCRIPT END ------------------------------- */



/*  -------------------------- SIGN IN IDS AND CLASSES START  ----------------------------------  */

table#sign_in
{
background-color: #F0ECDA;
margin: 0; 
padding: 0;
border:0px solid #808080;
border-bottom-width:1px;
}

.sign_in_td 
{
text-align:left;
background-color:#D8D4C5;
color:#5E5E5E;
padding:18px 7px;
margin:5px;
font:bold 11px Tahoma, Verdana, Arial, sans-serif;
}

.sign_in_td a:link, .sign_in_td a:visited, .sign_in_td a:active
{
color:#5E5E5E;
text-decoration:none;
}

.sign_in_td a:hover
{
color:#5E5E5E;
text-decoration:underline;
}

.sign_in_td_alt
{
text-align:left;
background-color:#D8D4C5;
color:#5E5E5E;
padding:12px 7px 11px 7px;
margin:5px;
font:bold 11px Tahoma, Verdana, Arial, sans-serif;
}

.sign_in_td_alt a:link, .sign_in_td_alt a:visited, .sign_in_td_alt a:active
{
color:#5E5E5E;
text-decoration:none;
}

.sign_in_td_alt a:hover
{
color:#5E5E5E;
text-decoration:underline;
}

/*  -------------------------- SIGN IN IDS AND CLASSES END  ----------------------------------  */



/*  ------------------------- TOP BLUE BAR START  ---------------------------  */
table#brcrumb
{
width:100%;
background-color:#330099;
padding:0;
margin:0;
}

.brcrumb_td 
{
color:#fff;
font: bold 11px Tahoma, Verdana, Arial, sans-serif;
margin:4px;
padding:4px;
}

.brcrumb_td a
{
color:#fff;
font: bold 11px Tahoma, Verdana, Arial, sans-serif;
text-decoration: none;
}

.brcrumb_td a:hover
{
color:#fff;
font: bold 11px Tahoma, Verdana, Arial, sans-serif;
text-decoration: none;
} 

/*  ------------------------- TOP BLUE BAR END  ---------------------------  */



